/Coding/JogosLoto/nbproject/private/
/Coding/JogosLoto/dist/
/Coding/JogosLotoCliente/nbproject/private/
/Coding/JogosLotoLivraria/target/
/Coding/mavenproject1/target/
/Exportar/JogosLotoJogador/nbproject/private/
/Exportar/JogosLotoGestorDeSalas/nbproject/private/
/Exportar/JogosLotoLivraria/nbproject/private/
/Exportar/JogosLotoLivraria/dist/
/Exportar/JogosLotoLivraria/build/
/Exportar/JogosLotoJogador/build/
/Exportar/JogosLotoGestorDeSalas/build/
/Exportar/JogosLotoJogador/dist/
/Exportar/JogosLotoGestorDeSalas/dist/
/Projeto/JogosLotoGestorDeSalas/nbproject/private/
/Projeto/JogosLotoJogador/nbproject/private/
/Projeto/JogosLotoLivraria/nbproject/private/
/Projeto/JogosLotoJogador/build/
/Projeto/JogosLotoGestorDeSalas/build/
/Projeto/JogosLotoGestorDeSalas/dist/
/Projeto/JogosLotoLivraria/dist/
/Projeto/JogosLotoLivraria/build/
/Projeto/JogosLotoJogador/dist/
